<div class="container">
    <div class="row">
        <div class="text-center">
                <h2  class="text-muted">Power Analysis</h2>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" routerLinkActive="active"
                class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <a routerLink="servers">Avg Watts</a>
            </li>
            <li role="presentation" routerLinkActive="active"
                class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <a routerLink="servers">Sub-2</a>
            </li>
            <li role="presentation" routerLinkActive="active"
                class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <a routerLink="servers">Sub-2 Devices</a>
            </li>
        </ul>
    </div>
</div>